:root {
  --expander-backgroundColor: var(--color-5);
}

[data-roles] span {
  --color: var(--color-4);
}

[data-divider] {
  --backgroundColor: var(--color-2);
}

[data-field] h3 {
  --color: var(--color-6);
}

[data-field-value] {
  --color: var(--color-4);
}

[data-expander] i {
  --color: var(--color-6);
}
