:root {
  --nav-image-filter: var(--color-1);
}

.router {
  --bg: var(--color-5);
}

#profile_circle img {
  --borderColor: var(--color-5);
}

[data-nav-item-text] {
  --color: var(--color-5);
}

[data-expander] [data-nav-item-text] {
  --color: var(--color-3);
}
